aside {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.messages {
    width: 200px;
    opacity: 0.7;
    font-size: 17px;
}

span.material-icons {
    display: block;
    margin-right: 15px;
}

span.bold {
    font-weight: bold;
}

.error,
.success,
.warning {
    padding: 15px;
    display: flex;
    align-items: center;
    color: white;
    border: none;
    border-radius: 3px;
    margin: 10px;
}

.error {
    background-color: red;
}

.success {
    background-color: green;
}

.warning {
    background-color: orange;
}
