:root {
    --background-color: rgb(248, 249, 252);
    --bell-color: rgb(190, 202, 218);
    --dropdown-menu-color: rgb(156, 167, 179);
    --avatar-color: rgb(248, 153, 28);
    --logo-color: white;
    --qa-color: rgb(82, 191, 119);
    --js-color: rgb(247, 207, 105);
    --java-color: rgb(225, 43, 76);
    --php-color: rgb(136, 147, 192);
    --dotnet-color: rgb(100, 32, 119);
    --events-color: rgb(45, 153, 254);
    --blog-color: rgb(4, 67, 163);
    --contacts-color: rgb(0, 37, 95);
}