* {
    box-sizing: border-box;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

:root {
    --indent: 10%;
}

html{
    height: 100%;
}


body {
    background-color: var(--background-color);
    padding-left: var(--indent);
    padding-right: var(--indent);
    height: 100%;
    display: grid;
    grid-template-rows:1fr auto;
}