.container {
    display: grid;
    position: relative;
    width: 100%;
    height: 37vw;
    grid-template-columns: 4fr 4fr 5fr 3fr;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "logo js php php"
        "logo js dotnet events"
        "qa js dotnet events"
        "qa js dotnet blog"
        "qa java dotnet blog"
        "qa java dotnet contacts";
}

@media (max-width: 1000px) {
    .container {
        height: 71vw;
        grid-template-columns: 8fr 1fr 5fr 4fr;
        grid-template-rows: 3fr 3fr 2fr 4fr 4fr;
        grid-template-areas:
            "logo js js events"
            "logo js js blog"
            "logo js js contacts"
            "java java php php"
            "qa qa dotnet dotnet";
    }

    .item-js .item-front,
    .item-php .item-front,
    .item-qa .item-front,
    .item-dotnet .item-front {
        font-size: 7vw;
    }

    .item-java .item-front {
        font-size: 4vw;
    }
}

@media (max-width: 800px) {
    .container {
        height: 160vw;
        grid-template-columns: 4fr 1fr 3fr;
        grid-template-rows: 4fr 2fr 2fr 3fr 2fr 2fr 1fr;
        grid-template-areas:
            "logo js js"
            "qa js js"
            "qa java java"
            "php php php"
            "dotnet dotnet events"
            "dotnet dotnet blog"
            "dotnet dotnet contacts";
    }

    .item-js .item-front,
    .item-php .item-front,
    .item-qa .item-front,
    .item-dotnet .item-front {
        font-size: 9vw;
    }

    .item-java .item-front {
        font-size: 5vw;
    }
}

@media (max-width: 500px) {
    .container {
        height: 560vw;
        grid-template-columns: 1fr;
        grid-template-rows: 6fr 8fr 6fr 7fr 4fr 5fr 3fr 3fr 2fr;
        grid-template-areas:
            "logo" "js" "qa" "dotnet" "java" "php" "events" "blog" "contacts";
    }

    .item-js .item-front,
    .item-php .item-front,
    .item-qa .item-front,
    .item-dotnet .item-front {
        font-size: 14vw;
    }

    .item-java .item-front {
        font-size: 8vw;
    }
}

