header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 50px;
    z-index: 10;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    padding-left: var(--indent);
    padding-right: var(--indent);
    animation: header-popup 1s .2s;

}

@keyframes header-popup {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

header > .logo > img {
    display: inline-block;
    width: 120px;
    height: 40px;
}

header > .logo {
    cursor: pointer;
}

header > .right-section {
    display: flex;
    width: 80px;
    align-items: center;
    justify-content: space-between;
}

.notification-wrapper {
    cursor: pointer;
    color: var(--bell-color);
}

.notification-wrapper:hover {
    color: #7a7979;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 95%;
    right: var(--indent);
    border-radius: 3px;
    box-shadow: -1px 5px 17px -7px rgba(0,0,0,.23);
    background-color: white;
    color: var(--dropdown-menu-color);
    min-width: 200px;
    height: auto;
    padding: 15px;
}

.dropdown-menu > hr {
    border: none; 
    background-color: var(--dropdown-menu-color);
    height: 2px; 
}

.dropdown-menu > span {
    display: block;
    text-align: center;
}

.dropdown-menu > a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 5px;
}

.dropdown-menu > a:hover {
    background-color: var(--background-color);
}

.avatar {
    width: 35px;
    height: 35px;
    background-color: var(--avatar-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.avatar > span { 
    display: block;
    text-align: center;
    font-size: 0;
}

.avatar > span::first-letter {
    font-size: 20px;
}


.avatar:hover {
    background-color: #c27503;
}

.avatar > input {
    width: 35px;
    height: 35px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

.avatar > input:checked ~ .dropdown-menu {
    display: block;
}

@media (max-width: 300px) {
    header {
        flex-direction: column;
        justify-content: center;
        height: 90px;
    }
}