.item-logo:hover .item-inner,
.item-qa:hover .item-inner,
.item-js:hover .item-inner {
    transform: rotateY(180deg);
}

.item-logo .item-back,
.item-qa .item-back,
.item-js .item-back {
    transform: rotateY(180deg);
}

.item-dotnet:hover .item-front {
    transform: scale(0);
    transform-origin: 100% 100%;
}

.item-dotnet .item-front {
    transform: scale(1);
    transform-origin: 100% 100%;
}

.item-php:hover .item-front {
    transform: scale(0);
    transform-origin: 100% 0%;
}

.item-php .item-front {
    transform: scale(1);
    transform-origin: 100% 0%;
}

.item-events:hover .item-front,
.item-blog:hover .item-front,
.item-contacts:hover .item-front {
    transform: scaleX(0);
    transform-origin: 100% 0%;
}

.item-events .item-front,
.item-blog .item-front,
.item-contacts .item-front {
    transform: scaleX(1);
    transform-origin: 100% 0%;
}

.item-java:hover .item-front {
    transform: scaleY(0);
    transform-origin: 100% 100%;
}

.item-java .item-front {
    transform: scaleY(1);
    transform-origin: 100% 100%;
}

.item-dotnet .item-front,
.item-php .item-front {
    animation: big-font-resize .3s .2s;
}

.item-java .item-front {
    animation: medium-font-resize .3s .2s;
}

@keyframes big-font-resize {
    0% {
        font-size: 0;
    }
    100% {
        font-size: 70px;
    }
}

@keyframes medium-font-resize {
    0% {
        font-size: 0;
    }
    100% {
        font-size: 40px;
    }
}