main {
    min-height: calc(100%-60px);
    margin-top: 80px;
}

.item-logo {
    grid-area: logo;
    perspective: 500px;
}

.item-js {
    grid-area: js;
    perspective: 500px;
}

.item-php {
    grid-area: php;
}

.item-dotnet {
    grid-area: dotnet;
}

.item-events {
    grid-area: events;
}

.item-blog {
    grid-area: blog;
}

.item-contacts {
    grid-area: contacts;
}

.item-java {
    grid-area: java;
}

.item-qa {
    grid-area: qa;
    perspective: 500px;
}

.item-inner {
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform .3s;
    transform-style: preserve-3d;
}

.item-inner > *{
    position: absolute;    
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px;
}

.item-inner > .item-back {
    background-color: white
}

.item-inner > .item-front{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: transform .3s;
}

.item-logo > *,
.item-qa > *,
.item-js > *{
    z-index: 0;
    backface-visibility: hidden;
}

.item-inner > p {
    overflow: auto;
    scrollbar-color: grey white;
    scrollbar-width: thin;
}

.item-js p,
.item-php p,
.item-dotnet p,
.item-java p,
.item-qa p {
    font-size: 20px;
    font-weight: bold;
}

.item-logo .item-back {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.item-logo a.button {
    text-decoration: none;
    background-color: var(--events-color);
    color: white;
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 3px;
}

.item-logo a.button:hover {
    background-color: var(--blog-color);
}

.item-contacts  .item-back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-contacts a {
    margin: 3px;
}

.item-contacts a:hover path,
.item-contacts a:hover circle {
    fill: var(--events-color);
}

.item-logo .item-front {
    background-color: var(--logo-color);
}

.item-qa .item-front {
    background-color: var(--qa-color);
    color: white;
    font-size: 5vw;
}

.item-js .item-front {
    background-color: var(--js-color);
    font-size: 5vw;
    color: black;
    font-weight: bold;
    justify-content: end;
    align-items: flex-end;
}

.item-java .item-front {
    background-color: var(--java-color);
    color: white;
    font-size: 3vw;
}

.item-php .item-front {
    background-color: var(--php-color);
    color: black;
    font-size: 5vw;
    font-style: italic;
}

.item-dotnet .item-front {
    background-color: var(--dotnet-color);
    color: white;
    font-size: 5vw;
}

.item-events .item-front {
    background-color: var(--events-color);
    color: white;
}

.item-blog .item-front {
    background-color: var(--blog-color);
    color: white;
}

.item-contacts .item-front {
    background-color: var(--contacts-color);
    color: white;
}

@media (max-width: 300px) {
    main {
        margin-top: 120px;
    }
}